* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #512773 0%, #512773 40%, #9e26b5 100%);
    font-size: 20px;
    padding-top: 20px;
    padding-inline: 20px;
    margin: 0;
    flex-wrap: wrap;
    gap: 20px;

}

.logo {
    width: 80px;
    height: 100px;
}

.text-left{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.text-ust {
    color: lightgrey;
}

.text-lf {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */

    width: 100%;
    text-align: center;
    margin-top: -140px;

    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nav-left-side {
    display: flex;
    align-items: center;
}

.nav-right-side {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -150px;

    font-size: 20px;

    gap: 40px;
    color: lightgrey;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.nav-right-side a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1500px) {
    .text-ust {
        display: none;
    }

    .text-lf {
        margin-top: -200px;
        color: red;
    }

    .nav-right-side {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: -70px;
        margin-bottom: 30px;
        gap: 30px
    }

    .nav-right-side a {
        font-size: 35px;
    }

    .logo {
        width: 100px;
        height: auto;
        object-fit: contain;
    }

}

@media (max-width: 700px) {
    .logo {
        display: none;
    }

    .text-lf {
        margin-top: 10px;
    }

    .nav-right-side {
        margin-top: 8px;
    }

    .nav-right-side a {
        font-size: 25px;
    }

}